body {
  margin: 0;
  color: #3e4348;
  background: rgba(96, 143, 191, 0.06);
  font-family: 'open sans', helvetica, arial, sans-serif;
}
a {
  color: #608fbf;
  text-decoration: none;
}
a:hover {
  border-radius: 3px;
  background: rgba(96, 143, 191, 0.06);
  color: #4d83b8;
}
code,
pre {
  background: rgba(96, 143, 191, 0.06);
  font-size: 1rem;
}
code {
  padding: 0 .25rem;
}
pre {
  margin: 0;
  padding: .5rem 1rem;
  line-height: 1.5em;
}
dt {
  float: left;
}
dd {
  margin: 0.5rem 0;
}
dd ul {
  padding: 0;
  list-style: none;
}
body > header {
  background: #608fbf;
  text-align: center;
  overflow: auto;
}
body > header a {
  color: rgba(255, 255, 255, 0.85);
  text-shadow: 1px 2px #4d83b8;
}
body > header a:hover {
  background: none;
  color: rgba(255, 255, 255, 0.95);
}
nav {
  float: left;
  width: 200px;
  padding: 30px 10px;
}
nav h1 {
  margin: 1rem 0;
  padding: 0 .6rem;
  font-size: 1rem;
  text-transform: uppercase;
}
nav a {
  display: block;
  padding: .3rem .6rem;
}
nav a:hover {
  background: rgba(96, 143, 191, 0.06);
}
main {
  margin-left: 220px;
  padding: 30px;
  background: white;
}
main header {
  margin-bottom: 2rem;
}
main header p {
  font-size: 1.25rem;
}
main header ul {
  padding: 0;
  list-style: none;
}
main header ul li {
  display: inline-block;
  margin-right: 1rem;
}
section {
  margin-bottom: 2.5rem;
}
section h2 {
  font-size: inherit;
}
#examples div {
  margin-bottom: 2rem;
}
#details dl dt {
  font-weight: bold;
}
#details dl dd {
  margin-left: 200px;
}
ul.major {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.major > li {
  overflow: auto;
  padding: 1rem;
}
ul.major > li:nth-child(2n+1) {
  background: rgba(96, 143, 191, 0.06);
}
ul.major > li:nth-child(2n+1) code,
ul.major > li:nth-child(2n+1) pre {
  background: rgba(96, 143, 191, 0.06);
}
ul.major > li > h1 {
  float: left;
  margin: 0;
  font-size: 1rem;
}
ul.major > li > span {
  float: left;
  clear: left;
  color: #878f98;
}
ul.major > li > div {
  margin-left: 200px;
  overflow: auto;
}
ul.major > li > div p,
ul.major > li > div ul {
  margin: 0 0 .5rem;
}
ul.major > li > div dt {
  color: #878f98;
  font-weight: normal;
}
ul.major > li > div dd {
  margin-left: 125px;
}
#methods dd strong,
#methods dd em {
  float: left;
  width: 100px;
}
#methods dd em {
  color: #878f98;
  font-style: normal;
}
#methods dd p {
  margin-left: 200px;
}
.hljs-tag,
.hljs-built_in {
  color: #a6326c;
}
.hljs-attribute {
  color: #4747b3;
}
.hljs-value,
.hljs-string {
  color: #42a642;
}
.hljs-number {
  color: #00b3b3;
}
.hljs-literal,
.hljs-keyword {
  color: #e66d45;
}
