<header>
    <h1>{{name}}</h1>
    {{{description}}}
    <ul>
        {{#examples.0}}<li><a href='#examples'>Examples</a></li>{{/examples.0}}
        {{#options.0}}<li><a href='#options'>Options</a></li>{{/options.0}}
        {{#methods.0}}<li><a href='#methods'>Methods</a></li>{{/methods.0}}
    </ul>
</header>

<section id='details'>
    <dl>
        <dt>Script link</dt>
            <dd><a href='https://q4widgets.q4web.com/q4widgets/{{distfile}}' target='_blank'>{{distfile}}</a></dd>
        <dt>Source file</dt>
            <dd><a href='https://github.com/saltire/q4widgets-jquery-ui/blob/master/src/{{file}}#L{{line}}' target='_blank'>{{file}}</a>, line {{line}}</dd>
        {{#author.0}}
        <dt>Author(s)</dt>
            <dd><ul>{{#author}}<li>{{.}}</li>{{/author}}</ul></dd>
        {{/author.0}}
        {{#requires.0}}
        <dt>Requires</dt>
            <dd><ul>{{#requires}}<li><a href='https://q4widgets.q4web.com/q4widgets/{{{url}}}' target='_blank'>{{name}}</a></li>{{/requires}}</ul></dd>
        {{/requires.0}}
    </dl>
    {{#abstract}}
    <p>
        This is an <em>abstract</em> widget; it isn't meant to be instantiated directly.
        Use one of its child widgets.
    </p>
    {{/abstract}}
    {{#extends.0}}
    <p>
        This widget <em>extends</em> the <a href='{{.}}.html'>{{.}}</a> widget.
        It has all the options and methods of the parent widget, in addition to those below.
        See the parent widget's documentation for details.
    </p>
    {{/extends.0}}
    {{#children.0}}
    <p>
        Child widgets have all the options and methods of this widget, but may add their own as well.
        See the child widget's documentation for additional options or methods.
        This widget has the following child widgets:
    </p>
    <ul>
        {{#children}}
        <li><a href='{{.}}.html'>{{.}}</a></li>
        {{/children}}
    </ul>
    {{/children.0}}
</section>

{{#examples.0}}
<section id='examples'>
    <h1>Examples</h1>
    {{#examples}}
    <div>
        {{{caption}}}
        <pre>{{{code}}}</pre>
    </div>
    {{/examples}}
</section>
{{/examples.0}}

{{#options.0}}
<section id='options'>
    <h1>Options</h1>
    <ul class='major'>
    {{#options}}
    <li id='option-{{name}}'>
        <h1>{{name}}</h1>
        {{#type}}<span>{{.}}</span>{{/type}}
        <div>
            {{{description}}}
            <dl>
                {{#defaultval}}
                <dt>Default value</dt>
                    <dd><code>{{{.}}}</code></dd>
                {{/defaultval}}
                {{#examples}}
                <dt>Example</dt>
                    <dd><code>{{{.}}}</code></dd>
                {{/examples}}
                {{#exblocks}}
                <dt>Example</dt>
                    <dd><pre>{{{.}}}</pre></dd>
                {{/exblocks}}
            </dl>
        </div>
    </li>
    {{/options}}
    </ul>
</section>
{{/options.0}}

{{#methods.0}}
<section id='methods'>
    <h1>Methods</h1>
    <ul class='major'>
    {{#methods}}
    <li id='method-{{name}}'>
        <h1>{{name}}</h1>
        <div>
            {{{description}}}
            <dl>
                {{#params.0}}<dt>Parameters</dt>
                    <dd><ul>{{#params}}<li><strong>{{name}}</strong><em>{{type}}</em>{{{description}}}</li>{{/params}}</ul></dd>{{/params.0}}
            </dl>
        </div>
    </li>
    {{/methods}}
    </ul>
</section>
{{/methods.0}}
