<section id='index'>
    <dl>
        {{#classes}}
        <div>
            <dt>
                <strong>{{name}}</strong>
                <span>{{version}}</span>
            </dt>
            <dd>
                {{{description}}}
                <p>
                    <a href='{{name}}.html'>Documentation</a> –
                    <a href='https://q4widgets.q4web.com/q4widgets/{{distfile}}' target='_blank'>Script link</a>
                </p>
            </dd>
        </div>
        {{/classes}}
    </dl>
</section>
